:root { 
--blue_A400:#2870ea; 
--gray_900_99:#12121299; 
--red_200:#f28f8f; 
--white_A700_95:#ffffff95; 
--teal_500:#14b079; 
--yellow_800:#d3a00d; 
--light_blue_A700:#0082ff; 
--blue_gray_700:#3e5765; 
--blue_gray_900_01:#1c2336; 
--blue_gray_900:#263238; 
--blue_gray_400_75:#788e9b75; 
--teal_A700:#0fba83; 
--gray_600:#757779; 
--gray_400:#c7c8ce; 
--blue_gray_100:#d2dfe6; 
--amber_500:#ffbe02; 
--gray_800:#3e414a; 
--blue_500:#2997f9; 
--amber_700:#faa002; 
--orange_600:#f69300; 
--gray_200:#f0f0f0; 
--blue_50:#e2ecfe; 
--indigo_400:#5a7bc6; 
--indigo_A700:#1b4aef; 
--gray_400_01:#b9b9b9; 
--gray_100_01:#f5f5f5; 
--blue_300:#6c9bff; 
--blue_gray_400_03:#788e9b; 
--blue_gray_400_02:#7c7e8c; 
--blue_gray_400_01:#808a9d; 
--white_A700:#ffffff; 
--blue_gray_700_01:#455a64; 
--blue_gray_50:#eff2f5; 
--blue_A700:#0052fe; 
--red_500:#f7324c; 
--blue_A700_01:#1f67ff; 
--white_A700_33:#ffffff33; 
--blue_gray_800_02:#37474f; 
--blue_gray_900_0f:#1025490f; 
--black_900:#000000; 
--black_900_63:#00000063; 
--blue_gray_800:#44475b; 
--blue_50_01:#e8f4fd; 
--deep_orange_200:#ffa8a7; 
--blue_500_7f:#2997f97f; 
--blue_gray_50_01:#ebf8f4; 
--gray_900_02:#111827; 
--gray_900_03:#191c1f; 
--blue_gray_50_02:#ebf9f4; 
--blue_gray_200:#abb9bf; 
--gray_900_04:#1d1d1d; 
--gray_900_05:#202020; 
--blue_gray_400:#768396; 
--blue_800:#0141cf; 
--blue_gray_100_99:#c9cfdd99; 
--blue_gray_600:#5d667b; 
--gray_900:#0e1529; 
--gray_900_01:#0b1426; 
--blue_600:#0c7cec; 
--teal_500_01:#00b386; 
--light_blue_50:#d0f3ff; 
--gray_300_03:#e0e0e0; 
--gray_300:#dedfe2; 
--gray_300_02:#dee2e6; 
--blue_gray_800_01:#26375e; 
--gray_300_01:#dee1e6; 
--gray_100:#f2f2f2; 
--teal_A400:#27debf; 
--indigo_100:#ccd6eb; 
--light_blue_50_01:#cff3ff; 
}